In [10]:
import requests
import json
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import os

# Scouting Analysis

This notebook offers a scouting analysis tool for new player acquisitions using financial data from Transfermarkt and player statistics from Wyscout.

- Financial data from Transfermarkt: Transfer fees, market value
- Player statistics from Wyscout: Player position, age, minutes played, goals, assists, shots, passes, tackles, interceptions, etc.

# 1. Data Collection

## 1.1. Transfermarkt

In [23]:
def to_number(string):
    """Converts a string to a number, e.g. '€1.2m' to 1.2"""
    try:
        if string[-1] == 'm':
            # convert to millions
            return float(string[1:-1])
        else:
            return float(string[1:-1]) / 1000
    except:
        return np.nan


# Get out Player Name, Position, Left Club, Joined Club, Fee
player_names = []
player_fees = []
player_values = []

headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

base_url = "https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik?saison_id=2017&land_id=0&ausrichtung=&spielerposition_id=&altersklasse=&leihe=&w_s=&plus=1&page="

# Loop through multiple pages
page_number = 1
end = False
limit = 5

while end == False:
    page = base_url + str(page_number)
    try:
        pageTree = requests.get(page, headers=headers)
        pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
        player_rows = pageSoup.find_all("tr", {"class": ["odd", "even"]})
        page_number += 1

        for player_row in player_rows:
            player_name = player_row.select("a")[0].text
            player_fee = to_number(player_row.select("td")[17].text)
            player_value = to_number(player_row.select("td")[6].text)

            player_names.append(player_name)
            player_fees.append(player_fee)
            player_values.append(player_value)
    
        if limit is not None:
            if page_number == limit:
                end = True
                print("End of pages", page_number)

    except Exception as e:
        print(e)
        end = True
        print("End of pages", page_number)

df_players_finance = pd.DataFrame({
    "Player Name": player_names,
    "Market Value (m€)": player_values,
    "Fee (m€)": player_fees
})

df_players_finance

os.makedirs('data', exist_ok=True)
df_players_finance.to_csv('data/players_finance.csv', index=False)

End of pages 5

In [40]:
df_players_finance

          Player Name  Market Value (m€)  Fee (m€)
0              Neymar              100.0    222.00
1   Philippe Coutinho               90.0    135.00
2     Ousmane Dembélé               33.0    135.00
3       Romelu Lukaku               50.0     84.70
4     Virgil van Dijk               30.0     84.65
..                ...                ...       ...
95       Jhon Córdoba                7.0     17.00
96       Ismaïla Sarr                2.5     17.00
97       Ross Barkley               25.0     16.80
98      Medhi Benatia               15.0     16.70
99     Marten de Roon               10.0     16.70

[100 rows x 3 columns]

## 1.2 Wyscout Player data

In [20]:
current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)
wyscout_dir = os.path.join(parent_dir, "src", "wyscout")

# Check if dir exists
assert os.path.exists(wyscout_dir), "Wyscout directory does not exist, download data!"

In [ ]:
path = os.path.join(str(pathlib.Path()..resolve().parents[0]),'DM-Football', 'src', 'wyscout', 'players.json')
with open(path) as f:
    players = json.load(f)
player_df = pd.DataFrame(players)
forwards = player_df.loc[player_df.apply(lambda x: x.role["name"] == "Midfielder", axis = 1)]
forwards.rename(columns = {'wyId':'playerId'}, inplace=True)
to_merge = forwards[['playerId', 'shortName']]

In [45]:
players_json = os.path.join(wyscout_dir, "players.json")

with open(players_json, "r") as f:
    players = json.load(f)

df_players_stats = pd.DataFrame(players)
df_players_stats.head(2)

,passportArea,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,role,birthArea,wyId,foot,shortName,currentNationalTeamId
0,"{'name': 'Turkey', 'id': '792', 'alpha3code': ...",78,Harun,,Tekin,4502,1989-06-17,187,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Turkey', 'id': '792', 'alpha3code': ...",32777,right,H. Tekin,4687
1,"{'name': 'Senegal', 'id': '686', 'alpha3code':...",73,Malang,,Sarr,3775,1999-01-23,182,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'France', 'id': '250', 'alpha3code': ...",393228,left,M. Sarr,4423

In [37]:
players_json = os.path.join(wyscout_dir, "events" , "events_England.json")

with open(players_json, "r") as f:
    players = json.load(f)

df_players_stats = pd.DataFrame(players)
df_players_stats.columns

Index(['eventId', 'subEventName', 'tags', 'playerId', 'positions', 'matchId',
       'eventName', 'teamId', 'matchPeriod', 'eventSec', 'subEventId', 'id'],
      dtype='object')

In [82]:
def decode_unicode_escapes(name):
    try:
        return name.encode('utf-8').decode('unicode_escape')
    except Exception as e:
        return name

def calculate_player_stats(event_file_path, players_file_path):
    """
    Calculates performance metrics for football players from event data.

    Args:
    event_file_path (str): Path to the Event_<country>.json file.
    players_file_path (str): Path to the players.json file.

    Returns:
    pd.DataFrame: DataFrame containing player full names, player IDs, and calculated statistics.
    """
    
    # Load event data
    with open(event_file_path) as file:
        events_data = json.load(file)
    events_df = pd.DataFrame(events_data)

    # Load player data
    with open(players_file_path) as file:
        players_data = json.load(file)
    players_df = pd.DataFrame(players_data)

    # Create full name from first, middle, and last names and decode Unicode escape sequences
    players_df['fullName'] = players_df['firstName'].fillna('') + ' ' + players_df['middleName'].fillna('') + ' ' + players_df['lastName'].fillna('')
    players_df['fullName'] = players_df['fullName'].str.strip().apply(decode_unicode_escapes)

    # Helper function to calculate event statistics
    def calculate_event_stats(df, event_name, sub_event_name, tag_id):
        filtered_df = df.loc[df["eventName"] == event_name]
        if sub_event_name:
            filtered_df = filtered_df.loc[filtered_df["subEventName"] == sub_event_name]
        if tag_id:
            # Check if 'tags' exists and contains the tag_id
            filtered_df = filtered_df.loc[filtered_df['tags'].apply(lambda tags: any(tag['id'] == tag_id for tag in tags) if isinstance(tags, list) else False)]
        return filtered_df.groupby(["playerId"]).eventId.count().reset_index(name=event_name)


    # Calculate statistics
    loose_ball_duels_won = calculate_event_stats(events_df, "Duel", "Ground loose ball duel", 703).rename(columns={'eventId': 'Loose Ball Duels Won'})
    defensive_duels_won = calculate_event_stats(events_df, "Duel", "Ground defending duel", 703).rename(columns={'eventId': 'Defensive Duels Won'})
    air_duels_won = calculate_event_stats(events_df, "Duel", "Air duel", 703).rename(columns={'eventId': 'Air Duels Won'})
    interceptions = calculate_event_stats(events_df, "Pass", None, 1401).rename(columns={'eventId': 'Interceptions'})
    clearances = calculate_event_stats(events_df, "Clearance", None, None).rename(columns={'eventId': 'Clearances'})
    turnovers = calculate_event_stats(events_df, "Pass", None, 1802).rename(columns={'eventId': 'Turnovers'})

    # Merge all statistics into a single DataFrame
    stats_df = pd.DataFrame(events_df["playerId"].unique(), columns=["playerId"])
    for stat_df in [loose_ball_duels_won, defensive_duels_won, air_duels_won, interceptions, clearances, turnovers]:
        stats_df = stats_df.merge(stat_df, how="left", on="playerId")


    # Merge player full names using player IDs
    players_df = players_df[["wyId", "fullName"]]    
    players_df.rename(columns={"wyId": "playerId"}, inplace=True)
    final_df = stats_df.merge(players_df, how="left", on="playerId")

    # Rename the columns with appropriate metric names
    final_df.rename(columns={
        "Duel_x": "Loose Ball Duels Won",
        "Duel_y": "Defensive Duels Won",
        "Duel": "Air Duels Won",
        "Pass_x": "Interceptions",
        "Clearance": "Clearances",
        "Pass_y": "Turnovers"
    }, inplace=True)

    # Set player id as index
    final_df.set_index("playerId", inplace=True)
    
    return final_df.fillna(0)


# Example usage
event_file_path = os.path.join(wyscout_dir, "events" , "events_England.json")
players_file_path = os.path.join(wyscout_dir, "players.json")
player_stats_df = calculate_player_stats(event_file_path, players_file_path)

player_stats_df

,Loose Ball Duels Won,Defensive Duels Won,Air Duels Won,Interceptions,Clearances,Turnovers,fullName
playerId,,,,,,,
25413,30.0,24.0,24.0,5.0,0.0,137.0,Alexandre Lacazette
370224,22.0,19.0,27.0,33.0,0.0,72.0,Rob Holding
3319,15.0,18.0,0.0,15.0,0.0,226.0,Mesut Özil
120339,9.0,14.0,8.0,23.0,0.0,53.0,Mohamed Naser Elsayed Elneny
167145,46.0,40.0,41.0,65.0,0.0,285.0,Héctor Bellerín Moruno
...,...,...,...,...,...,...,...
25703,0.0,0.0,0.0,1.0,0.0,0.0,Pape N'Diaye Souaré
351808,0.0,0.0,0.0,0.0,0.0,1.0,Ben Woodburn
20606,0.0,0.0,0.0,0.0,0.0,4.0,Sergio Germán Romero
26109,0.0,0.0,0.0,0.0,0.0,0.0,Massadio Haïdara
399564,1.0,3.0,0.0,5.0,0.0,12.0,Lasse Sørensen

In [83]:
player_stats_df[player_stats_df["fullName"].astype(str).str.contains("Holgate")]

,Loose Ball Duels Won,Defensive Duels Won,Air Duels Won,Interceptions,Clearances,Turnovers,fullName
playerId,,,,,,,
355937,21.0,18.0,44.0,28.0,0.0,119.0,Mason Holgate

In [55]:
# Go over all event files in /events directory, calculate player statistics and concatenate them into a single DataFrame
player_stats_df = pd.DataFrame()

events_dir = os.path.join(wyscout_dir, "events")

print(events_dir)
# get all files in the events directory
for file in os.listdir(events_dir):
    if file.startswith("events_"):
        print("Processing", file)
        event_file_path = os.path.join(wyscout_dir, "events", file)
        player_stats_df = pd.concat([player_stats_df, calculate_player_stats(event_file_path, players_file_path)])

c:\Users\Philipp\Git\data-mining\DM-Football\src\wyscout\events
events_England.json
Processing events_England.json
events_European_Championship.json
Processing events_European_Championship.json
events_France.json
Processing events_France.json
events_Germany.json
Processing events_Germany.json
events_Italy.json
Processing events_Italy.json
events_Spain.json
Processing events_Spain.json
events_World_Cup.json
Processing events_World_Cup.json

In [81]:
player_stats_df[player_stats_df["fullName"].astype(str).str.contains("Zouma")]

,playerId,Loose Ball Duels Won,Defensive Duels Won,duel_air,pass,clearance,Pass,fullName
124,25854,42.0,54.0,0.0,0.0,0.0,168.0,Kurt Happy Zouma

In [91]:
import pandas as pd
import json
import os
import pathlib
import numpy as np
from scipy import stats

def decode_unicode_escapes(name):
    try:
        return name.encode('utf-8').decode('unicode_escape')
    except Exception as e:
        return name

def calculate_player_stats(event_file_path, players_file_path):
    """
    Calculates performance metrics for football players from event data.

    Args:
    event_file_path (str): Path to the Event_<country>.json file.
    players_file_path (str): Path to the players.json file.

    Returns:
    pd.DataFrame: DataFrame containing player IDs, names, and calculated statistics.
    """
    
    # Load event data
    with open(event_file_path) as file:
        events_data = json.load(file)
    events_df = pd.DataFrame(events_data)

    # Load player data
    with open(players_file_path) as file:
        players_data = json.load(file)
    players_df = pd.DataFrame(players_data)

    # TURNOVERS
    def turnovers(df):
        dribble_forward = df.loc[df["subEventName"] == "Ground attacking duel"]
        lost_dribble_forward = dribble_forward.loc[dribble_forward.apply(lambda x:{'id':701} in x.tags, axis = 1)]
        ldf = lost_dribble_forward.groupby(["playerId"]).eventId.count().reset_index()
        ldf.rename(columns = {'eventId':'lost_dribble_forward'}, inplace=True)
        
        passes = df.loc[df["eventName"] == "Pass"]
        lost_pass = passes.loc[passes.apply(lambda x:{'id':1802} in x.tags, axis = 1)]
        lp = lost_pass.groupby(["playerId"]).eventId.count().reset_index()
        lp.rename(columns = {'eventId':'lost_pass'}, inplace=True)

        turnovers_made = ldf.merge(lp, how = "outer", on = ["playerId"])
        return turnovers_made

    # CLEARANCES
    def clearance(df):
        clearance = df.loc[df["subEventName"] == "Clearance"]
        clearing_player = clearance.groupby(["playerId"]).eventId.count().reset_index()
        clearing_player.rename(columns = {'eventId':'clearances'}, inplace=True)
        return clearing_player

    # INTERCEPTIONS
    def interception(df):
        opp_pass = df.loc[df["eventName"] == "Pass"]
        interception = opp_pass.loc[opp_pass.apply(lambda x:{'id':1401} in x.tags, axis = 1)]
        intercepting_player = interception.groupby(["playerId"]).eventId.count().reset_index()
        intercepting_player.rename(columns = {'eventId':'interceptions'}, inplace=True)
        return intercepting_player

    # DUELS WON
    def defensiveDuelsWon(df):
        loose_duels = df.loc[df["subEventName"] == "Ground loose ball duel"]
        won_loose_duels = loose_duels.loc[loose_duels.apply(lambda x:{'id':703} in x.tags, axis = 1)]
        wld_player = won_loose_duels.groupby(["playerId"]).eventId.count().reset_index()
        wld_player.rename(columns = {'eventId':'loose_duels_won'}, inplace=True)
        
        def_ground_duels = df.loc[df["subEventName"].isin(["Ground defending duel"])]
        won_ground_duels = def_ground_duels.loc[def_ground_duels.apply(lambda x:{'id':703} in x.tags, axis = 1)]
        wgd_player = won_ground_duels.groupby(["playerId"]).eventId.count().reset_index()
        wgd_player.rename(columns = {'eventId':'def_ground_duels_won'}, inplace=True)

        air_duels = df.loc[df["subEventName"].isin(["Air duel"])]
        won_air_duels = air_duels.loc[air_duels.apply(lambda x:{'id':703} in x.tags, axis = 1)]
        wad_player = won_air_duels.groupby(["playerId"]).eventId.count().reset_index()
        wad_player.rename(columns = {'eventId':'air_duels_won'}, inplace=True)
        
        duels_won = wgd_player.merge(wld_player, how = "outer", on = ["playerId"]).merge(wad_player, how = "outer", on = ["playerId"])
        return duels_won

    # Apply functions
    turnover_stats = turnovers(events_df)
    clearance_stats = clearance(events_df)
    interception_stats = interception(events_df)
    duels_stats = defensiveDuelsWon(events_df)

    # Merge all statistics into a single DataFrame
    stats_df = pd.DataFrame(events_df["playerId"].unique(), columns=["playerId"])
    for stat_df in [turnover_stats, clearance_stats, interception_stats, duels_stats]:
        stats_df = stats_df.merge(stat_df, how="left", on=["playerId"])

    # Merge with player minutes played
    # path_minutes = os.path.join(str(pathlib.Path().resolve().parents[0]), 'DM-Football', 'src', 'wyscout', "minutes_played", 'minutes_played_per_game_England.json') 
    path_minutes = os.path.join(wyscout_dir, "minutes_played" , "minutes_played_per_game_England.json")
    
    with open(path_minutes) as f:
        minutes_per_game = json.load(f)
    minutes_df = pd.DataFrame(minutes_per_game)
    minutes = minutes_df.groupby(["playerId"]).minutesPlayed.sum().reset_index()

    stats_df = stats_df.merge(minutes, how="left", on=["playerId"])
    stats_df = stats_df.fillna(0)
    stats_df = stats_df.loc[stats_df["minutesPlayed"] > 400]

    # Calculate per 90 statistics
    for column in ['lost_dribble_forward', 'lost_pass', 'clearances', 'interceptions', 'loose_duels_won', 'def_ground_duels_won', 'air_duels_won']:
        stats_df[column + "_per90"] = stats_df.apply(lambda x: (x[column]*90)/x["minutesPlayed"] if x["minutesPlayed"] > 0 else 0, axis=1)

    # Merge with player names
    players_df['fullName'] = players_df['firstName'].fillna('') + ' ' + players_df['middleName'].fillna('') + ' ' + players_df['lastName'].fillna('')
    
    players_df['fullName'] = players_df['fullName'].str.strip().apply(decode_unicode_escapes)

    players_df = players_df[["wyId", "fullName"]]
    players_df.rename(columns={"wyId": "playerId"}, inplace=True)
    final_df = stats_df.merge(players_df, how="left", on="playerId")

    features = {
        "playerId": "Player_Id",
        "fullName": "Full_Name",
        "air_duels_won_per90": "Air_Duels_Won",
        "interceptions_per90": "Interceptions",
        "clearances_per90": "Clearances",
        "lost_pass_per90": "Turnovers",
        "loose_duels_won_per90": "Loose_Ball_Duels_Won",
        "def_ground_duels_won_per90": "Defensive_Duels_Won"
    }

    final_df = final_df[list(features.keys())]
    final_df.rename(features, inplace=True)

    return final_df

# Example usage
event_file_path = os.path.join(wyscout_dir, "events" , "events_England.json")
players_file_path = os.path.join(wyscout_dir, "players.json")
player_stats_df = calculate_player_stats(event_file_path, players_file_path)

player_stats_df

In [ ]:
features = {
    "playerId": "Player_Id",
    "fullName": "Full_Name",
    "air_duels_won_per90": "Air_Duels_Won",
    "interceptions_per90": "Interceptions",
    "clearances_per90": "Clearances",
    "lost_pass_per90": "Turnovers",
    "loose_duels_won_per90": "Loose_Ball_Duels_Won",
    "def_ground_duels_won_per90": "Defensive_Duels_Won"
}

In [88]:
player_stats_df[player_stats_df["fullName"].astype(str).str.contains("Holgate")]

,playerId,lost_dribble_forward,lost_pass,clearances,interceptions,def_ground_duels_won,loose_duels_won,air_duels_won,minutesPlayed,lost_dribble_forward_per90,lost_pass_per90,clearances_per90,interceptions_per90,loose_duels_won_per90,def_ground_duels_won_per90,air_duels_won_per90,fullName
270,355937,6.0,119.0,52.0,28.0,18.0,21.0,44.0,1239.0,0.435835,8.644068,3.77724,2.033898,1.525424,1.307506,3.196126,Mason Holgate