## Team Analysis - Everton FC 2017/2018

In this file we will analyse Everton FC's season. We will look at metrics like Goals Scored, Goals Conceded, Assists, Goal Conversion Rate, Points, Possession, Set Piece Performance and so on...

In [5]:
import matplotlib.pyplot as plt
import numpy as np
from mplsoccer import Pitch, Sbopen
import pandas as pd
import os
import json
import pathlib

In [56]:
path = os.path.join(str(pathlib.Path().resolve().parents[0]), 'src', 'wyscout', "events", 'events_England.json') 
with open(path) as f: 
    data = json.load(f) 
events = pd.DataFrame(data) 

#events = events.loc[events.apply (lambda x: len(x.positions) == 2, axis = 1)]

events.head(20)

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,8,Simple pass,[{'id': 1801}],25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",2499719,Pass,1609,1H,2.758649,85,177959171
1,8,High pass,[{'id': 1801}],370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",2499719,Pass,1609,1H,4.946850,83,177959172
2,8,Head pass,[{'id': 1801}],3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",2499719,Pass,1609,1H,6.542188,82,177959173
3,8,Head pass,[{'id': 1801}],120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",2499719,Pass,1609,1H,8.143395,82,177959174
4,8,Simple pass,[{'id': 1801}],167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",2499719,Pass,1609,1H,10.302366,85,177959175
5,8,Simple pass,[{'id': 1802}],3319,"[{'y': 88, 'x': 72}, {'y': 75, 'x': 77}]",2499719,Pass,1609,1H,12.548934,85,177959177
6,8,Head pass,[{'id': 1801}],8653,"[{'y': 25, 'x': 23}, {'y': 15, 'x': 39}]",2499719,Pass,1631,1H,13.961228,82,177959186
7,1,Air duel,"[{'id': 701}, {'id': 1802}]",8013,"[{'y': 15, 'x': 39}, {'y': 20, 'x': 33}]",2499719,Duel,1631,1H,14.765321,10,177959189
8,1,Air duel,"[{'id': 703}, {'id': 1801}]",0,"[{'y': 85, 'x': 61}, {'y': 80, 'x': 67}]",2499719,Duel,1609,1H,14.765321,10,177961218
9,8,Head pass,"[{'id': 1401}, {'id': 1801}]",167145,"[{'y': 80, 'x': 67}, {'y': 61, 'x': 59}]",2499719,Pass,1609,1H,15.320341,82,177959178
10,8,Head pass,[{'id': 1801}],49876,"[{'y': 61, 'x': 59}, {'y': 45, 'x': 45}]",2499719,Pass,1609,1H,18.051875,82,177959179
11,8,High pass,[{'id': 1801}],14869,"[{'y': 45, 'x': 45}, {'y': 54, 'x': 71}]",2499719,Pass,1609,1H,20.426527,83,177959180
12,1,Air duel,"[{'id': 703}, {'id': 1801}]",8653,"[{'y': 46, 'x': 29}, {'y': 41, 'x': 50}]",2499719,Duel,1631,1H,21.878309,10,177959191
13,1,Air duel,"[{'id': 701}, {'id': 1802}]",25413,"[{'y': 54, 'x': 71}, {'y': 59, 'x': 50}]",2499719,Duel,1609,1H,22.551816,10,177959181
14,8,High pass,[{'id': 1802}],3560,"[{'y': 59, 'x': 50}, {'y': 69, 'x': 76}]",2499719,Pass,1609,1H,24.588310,83,177959182
15,8,Head pass,[{'id': 1801}],8653,"[{'y': 31, 'x': 24}, {'y': 15, 'x': 42}]",2499719,Pass,1631,1H,25.904249,82,177959194
16,8,Head pass,[{'id': 1801}],8013,"[{'y': 15, 'x': 42}, {'y': 26, 'x': 29}]",2499719,Pass,1631,1H,27.527696,82,177959195
17,8,Simple pass,[{'id': 1801}],265366,"[{'y': 26, 'x': 29}, {'y': 8, 'x': 37}]",2499719,Pass,1631,1H,29.980898,85,177959196
18,8,Simple pass,[{'id': 1801}],8013,"[{'y': 8, 'x': 37}, {'y': 5, 'x': 23}]",2499719,Pass,1631,1H,31.163870,85,177959197
19,8,High pass,[{'id': 1802}],14853,"[{'y': 5, 'x': 23}, {'y': 19, 'x': 63}]",2499719,Pass,1631,1H,32.805618,83,177959202

In [61]:
everton_id = 1623
#sub = events.loc[events["eventName"] == "Substitution"].loc[events["teamId"] == everton_id].iloc[0]["index"]

everton_passes = events[(events["teamId"] == everton_id) & (events["eventName"] == "Pass") & (events["matchId"] == 2499723)]
everton_player_ids = everton_passes["playerId"].unique()
print(everton_player_ids)

[  7919 293687  25706   7944     56   8143  10131  77546   8245   8239
   5911    340 353236  92922]

In [75]:
path = os.path.join(str(pathlib.Path().resolve().parents[0]), 'src', 'wyscout', 'players.json') 
with open(path) as f: 
    data = json.load(f) 
players = pd.DataFrame(data) 

players = players.rename(columns={"wyId":"playerId"})

In [80]:
merged_df = pd.merge(players, everton_passes, on="playerId")

event_counts = merged_df.groupby('lastName')['eventName'].count()

event_counts

lastName
Baines                   28
Calvert-Lewin            16
Davies                   14
Gueye                    68
Jagielka                 63
Keane                    64
Klaassen                 23
Martina                  25
Mirallas                  7
Pickford                 17
Ram\u00edrez Castillo    19
Rooney                   50
Schneiderlin             51
Williams                 37
Name: eventName, dtype: int64